@charset "UTF-8";
@use "tailwindcss/base"; 
@use "tailwindcss/components"; 
@use "tailwindcss/utilities";
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP&display=swap');

body{
  background: linear-gradient(-45deg, rgba(246, 255, 0, .8), rgba(255, 0, 161, .8));
  font-family: 'Noto Serif JP';
  height: 100vh;
}

.logo-fix{
  width: 50px;
  height: 50px;
  margin: 5px;
  margin-right: 0px !important;
}

.right-div{
  display: flex;
  justify-content: flex-end;
}

.div-up{
  top:-3px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
}

.p-header:hover{
  background-color: aquamarine;
}

.go-white{
  background-color: aliceblue !important;
  margin: 13px;
  margin-bottom: 6.5px !important;
}

.a-large:hover{
  color: #22d3ee;
  text-decoration: underline;
  font-size: 1.05em;
}

.img-toto{
  height: 40px;
  margin: auto;
  padding: 6px;
}

.logo{
  padding-left: 10px;
  padding-top: 15px;
}

h1{
  font-size: 10vw;
}

.main-p{
  text-align: center;
  font-weight: bold;
}

@media screen and (max-width:865px) {
  .mobile-p{
    padding: 0px !important;
    margin: 2px !important;
  }
  .mobile-top{
    width: 40% !important;
  }
  .mobile-top-right{
    width: 60% !important;
  }
}

@media screen and (max-width:495px) {
  .under-p{
    font-size: 12px;
  }
  .mobile-div{
    font-size: 0.8rem;
    line-height: 1.7rem;
    padding: 0px !important;
    margin: 2px !important;
  }
  .mobile-p{
    font-size: 14px;
  }
  .mobile-top{
    width: 30% !important;
  }
  .mobile-top-right{
    width: 70% !important;
  }
  .mobile-top-p{
    padding-right: 0px !important;
    padding-left: 0px !important;
  }
}